<!DOCTYPE html>
<!--created by Christian Seremetis on February 5, 2014-->
<!--this page is used for administrative purposes
    To change information appearing on different pages,
    refer to this form-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Christian Seremetis">
        <meta name="description" content="public website for Troop 5 BSA">
        <meta name="keywords" content="scouting, troop 5">
        <meta name="dcterms.rightsHolder" content="Ridgewood Troop 5">
        <meta name="dcterms.dateCopyrighted" content="2015">
        <title>Master!!</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>

    <body background="photos/lake.JPG">
        <div class="wrapper">
            <!--navbar-->
            <div class="row">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="/">Home</a></li>
                        <li role="presentation"><a href="faqs">FAQs</a></li>
                        <li role="presentation"><a href="UpcomingTrips">Upcoming Trips</a></li>
                        <li role="presentation" class="active"><a href="master33034112AZY774NNOO0">Master Controller</a></li>
                        <li role="presentation"><a href="admin33034112AZY774NNOO0">Administrative Form</a></li>
                        <li role="presentation">
                            <form type="input" action="search" method=POST>
                                <input class="box" type="text" name="captionTitle">
                                <input class="box" type="submit" value="Search Our Site">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="row text-center">
                <h1 id="masterLabel" onclick="changeText()">Master</h1>
            </div>
            <div class="col-md text-center">
                <!--this is where captions can be searched and deleted-->
                <h2>Search and delete captions here:</h2>
                <form type="input" action="delete" method=POST>
                    <input type="text" name="title">
                    <input type="submit" value="delete caption">
                </form>
            </div>
            <br>
            <div class="col-md text-center">
                <!--this is where captions can be searched and edited-->
                <h2 id="editSearchLabel">Search and Edit captions here:</h2>
                <form type="input" action="edit" method=POST> 
                    <input type="text" name="title">
                    <input type="submit" value="edit caption">
                </form>
            </div>
            <br>
            <!--this is where all forms are displayed
            form titles are displayed under the page that they appear on-->
            <%@every.each do |a|%>
                <div class="container">
                    <div class="col-md text-center">
                        <h1><%=a.form_id%></h1>
                    </div>
                    <div class="col-md text-center">
                        <h3><%=a.title%></h3>
                    </div>
                </div>
                <br>
            <%end%>
        </div>
        <footer>
            <div class="col-md text-center">
                <p>Copyright &copy; Ockanickon Scout Reservation 2015</p>
            </div>
        </footer>
    </body>
</html>


