<!DOCTYPE html>
<!--created February 15, 2015 by Christian Seremetis
    used to display a caption that the user searched
    for in the search bar in the navbar-->

<html>
    <head>
        <title>Troop 5 BSA</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>

    <body background="photos/lake.JPG">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="faqs">FAQs</a></li>
                <li role="presentation"><a href="UpcomingTrips">Upcoming Trips</a></li>
                <li role="presentation">
                    <form type="input" action="search" method=POST>
                        <input class="box" type="text" name="captionTitle">
                        <input class="box" type="submit" value="Search Our Site">
                    </form>
                </li>
            </ul>
        </nav>
        <!--if the searched-for form doesn't exist, displays a default page-->
        <%if $mutableCaption == nil%>
            <div class="row text-center">
               <h1>Your Search Had No Results</h1>
            </div>
            <br>
            <div class="col-md text-center">
                <img id="keepCalm" onclick="cry()" width="250px" height="400px" src="http://www.themoatblog.com/wp-content/uploads/2013/05/keep-calm-try-again.jpg">
                <script type="text/javascript">
                   /*used to switch between the king crown picture and a
                    picture of a crying baby*/
                    function cry() {
                        var pic = document.getElementById('keepCalm');
                        if (pic.src.match("http://www.themoatblog.com/wp-content/uploads/2013/05/keep-calm-try-again.jpg")) {
                            pic.src = "https://s-media-cache-ak0.pinimg.com/236x/e6/78/f3/e678f395bfe15e0e3363112674e490a4.jpg";
                        } else {
                            pic.src = "http://www.themoatblog.com/wp-content/uploads/2013/05/keep-calm-try-again.jpg";
                       };
                    }
                </script>
            </div>
        <%else%>
            <div class="row text-center">
                <h1>Troop 5 BSA</h1>
            </div>

            <div class="container">
                <div class="col-md text-center">
                    <h1><%=$mutableCaption.title%></h1>
                </div>
                <div class="col-md text-center">
                    <%if $mutableCaption.form_id == "Upcoming Trips"%>
                        <img width="200px" height="200px" src=<%=$mutableCaption.pic%>>
                    <%else%>
                        <img width="150px" height="200px" src=<%=$mutableCaption.pic%>>
                    <%end%>
                    <br>
                </div>
                <div class="col-md">
                    <h2><%=$mutableCaption.notification%></h2>
                </div>
            </div>
            <br>
            <br>
            <br>
        <%end%>
    </body>
</html>



