<!DOCTYPE html>
<!--the only purpose of this page is to entertain
    the users. It is full of several front-end "easter eggs"
    for people to enjoy-->
<html>
    <head>
        <title>THIS IS THE SUPER SECRET PAGE!!!</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>

    <body id="superSecret" background="http://vignette3.wikia.nocookie.net/youtubepoop/images/e/eb/Homer-simpson_WOOHOO.jpg/revision/latest?cb=20130120090101">
        <div class="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
                <div class="row">
                    <p class="navbar-text navbar-left">
                         <a href="/" class="navbar-link">Home</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="https://www.nsa.gov" class="navbar-link">UNLOCK EVEN MORE SECRETS</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="UpcomingTrips" class="navbar-link">Upcoming Trips</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="faqs" class="navbar-link">FAQs</a>
                    </p>
                </div>
            </nav>
        </div>
    </body>
</html>